////
// Test
//

// > Settings
// ---------------------------------------------------------------- //

@import '../medly-queries';

$media-conditions: (
  horizontal: (
    smallest: 320px,
    smaller: 480px,
    small: 720px,
    medium: 960px,
    large: 1280px,
    larger: 1600px,
    largest: 2560px
  ),
  vertical: (
    smallest: 320px,
    smaller: 360px,
    small: 400px,
    medium: 540px,
    large: 600px,
    larger: 800px,
    largest: 1024px
  ),
  density: (
    ldpi: .75,
    mdpi: 1,
    tvdpi: 1.3,
    hdpi: 1.5,
    xhdpi: 2,
    xxhdpi: 3,
    xxxhdpi: 4
  )
);

// > Tests
// ---------------------------------------------------------------- //

// >> Base styles
// ------------------------------------------------------ //

$color-applied: #5eb95e;
$color-not-applied: #dd514c;

$string-applied: 'is applied.';
$string-not-applied: 'is not applied.';

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  color: #666;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 15px;
}

.test {
  margin: 0;
  padding: 0;
  list-style: none;
}

.test__item {
  background: $color-not-applied;
  color: #fff;
  padding: 15px;

  + .test__item {
    margin-top: 15px;
  }

  &:after {
    content: $string-not-applied;
  }
}

// >> Viewport
// ------------------------------------------------------ //

.test__item--viewport-above-horizontal {
  @include viewport-above(medium) {
    background: $color-applied;

    &:after {
        content: $string-applied;
    }
  }
}

.test__item--viewport-below-horizontal {
  @include viewport-below(medium) {
    background: $color-applied;

    &:after {
        content: $string-applied;
    }
  }
}

.test__item--viewport-between-horizontal {
  @include viewport-between(medium, larger) {
    background: $color-applied;

    &:after {
        content: $string-applied;
    }
  }
}

.test__item--viewport-above-vertical {
  @include viewport-above(larger, vertical) {
    background: $color-applied;

    &:after {
        content: $string-applied;
    }
  }
}

.test__item--viewport-below-vertical {
  @include viewport-below(larger, vertical) {
    background: $color-applied;

    &:after {
        content: $string-applied;
    }
  }
}

.test__item--viewport-between-vertical {
  @include viewport-between(small, larger, vertical) {
    background: $color-applied;

    &:after {
        content: $string-applied;
    }
  }
}

.test__item--nested {
  @include viewport-above(smaller) {
    @include orientation(portrait) {
      background: $color-applied;

      &:after {
          content: $string-applied;
      }
    }
  }
}

// >> Orientation
// ------------------------------------------------------ //

.test__item--orientation-landscape {
  @include orientation(landscape) {
    background: $color-applied;

    &:after {
        content: $string-applied;
    }
  }
}

.test__item--orientation-portrait {
  @include orientation(portrait) {
    background: $color-applied;

    &:after {
        content: $string-applied;
    }
  }
}

// >> Density
// ------------------------------------------------------ //

.test__item--density-above {
  @include density-above(hdpi) {
    background: $color-applied;

    &:after {
        content: $string-applied;
    }
  }
}

.test__item--density-below {
  @include density-below(tvdpi) {
    background: $color-applied;

    &:after {
        content: $string-applied;
    }
  }
}

.test__item--density-between {
  @include density-between(mdpi, tvdpi) {
    background: $color-applied;

    &:after {
        content: $string-applied;
    }
  }
}

// >> Device
// ------------------------------------------------------ //

.test__item--device-above-horizontal {
  @include device-above(smaller) {
    background: $color-applied;

    &:after {
        content: $string-applied;
    }
  }
}

.test__item--device-below-horizontal {
  @include device-below(smaller) {
    background: $color-applied;

    &:after {
        content: $string-applied;
    }
  }
}

.test__item--device-between-horizontal {
  @include device-between(smaller, large) {
    background: $color-applied;

    &:after {
        content: $string-applied;
    }
  }
}

.test__item--device-above-vertical {
  @include device-above(largest, vertical) {
    background: $color-applied;

    &:after {
        content: $string-applied;
    }
  }
}

.test__item--device-below-vertical {
  @include device-below(medium, vertical) {
    background: $color-applied;

    &:after {
        content: $string-applied;
    }
  }
}

.test__item--device-between-vertical {
  @include device-between(smallest, largest, vertical) {
    background: $color-applied;

    &:after {
        content: $string-applied;
    }
  }
}

// >> Print
// ------------------------------------------------------ //

.test__item--print {
  @include print() {
    background: $color-applied;

    &:after {
        content: $string-applied;
    }
  }
}
