/**
 * Breakpoint.
 * Human-friendly media queries.
 */

$viewport-narrowest: 0 !default;
$viewport-narrower: 0 !default;
$viewport-narrow: 0 !default;
$viewport-medium: 0 !default;
$viewport-wide: 0 !default;
$viewport-wider: 0 !default;
$viewport-widest: 0 !default;

@mixin breakpoint-below($viewport-width) {
  @media only screen and (max-width: $viewport-width) {
    @content;
  }
}

@mixin breakpoint-above($viewport-width) {
  @media only screen and (min-width: $viewport-width) {
    @content;
  }
}

@mixin breakpoint-between($viewport-min-width, $viewport-max-width) {
  @media only screen and (min-width: $viewport-min-width) and (max-width: $viewport-max-width) {
    @content;
  }
}
